img{
    width: 90px;
    height: 90px;
}
body {
    text-align: center;
    font-family:'Times New Roman';
    background-image:url('https://t4.ftcdn.net/jpg/14/40/91/69/360_F_1440916921_IqzewaDWJRQqptOqJsKBkEWo9ygSxgIy.jpg');
    background-size: cover;
    color: rgb(53, 102, 113);
}